body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	margin: 10px;
}

.card {
    height: 100%;
    align-items: stretch;
}

.card-title {
	text-align: center;
	opacity: .5;
}

.card-text {
	text-align: center;
	font-weight: 700;
}
